* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: rgb(194, 205, 226);
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.forecast-today {
  border: 1px solid orange;
  padding: 10px;
}

.forecast-card {
  border: 1px solid blue;
  padding: 10px;
}

.search-result {
  border: 2px solid tomato;
  background-color: rgba(248, 112, 88, 0.3);
  padding: 10px;
  margin: 10px;
}

.favorite-place {
  border: 2px solid gray;
  padding: 10px;
  margin: 0px;
}


.slide-show {

}

.slide-show .visible-frame {
  position: relative;
  border: 2px solid black;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.slide-show .slides {
  position: relative;
  /*
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  */
}

.slide-show .slides .slide {
  /* min-width: 600px; */
  height: 600px;

  position: absolute;
  top: 0px;
  right: 0px;
  width: 0px;
  overflow: hidden;

  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 92%, rgba(0,212,255,0.29735644257703087) 100%);

}
.slide-show .slides .slide.visible {
  width: 800px;
}
.slide-show .slides .slide.post-visible {
  width: 0px;
  right: 800px;
}